<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Text Fields (Various Functions).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D5511C41FF9F89900A3FD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5511D81FF9F89A00A3FD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5511E31FF9F89A00A3FD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
